/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  text-transform: capitalize;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color: hsl(188, 93%, 45%);
  --secondary-color: hsl(249, 15%, 17%);
  --tertiary-color: hsl(251, 16%, 21%);
  --white: hsl(0, 0%, 93%);
  --white-1: hsl(0, 0%, 98%)
  --hsl-color:hsl(238, 51%, 14%);
  --light-gray:hsl(0, 0%, 69%);
}

html {
  scroll-behavior: smooth;
}


html::-webkit-scrollbar {
  width: .5rem;
}

html::-webkit-scrollbar-track {
  background: var(--white-1);
}

html::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}


body {
  font-family: "Poppins", sans-serif;
  background: var(--secondary-color);
  color: var(--white);
  font-size: 1.6rem;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
}

.w-100 {
  width: 100%;
}


a {
  color: var(--white);
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 2rem 10%;
}


.btn {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  color: var(--white);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #222;
  color: var(--white);
}

.header {
  background-color: hsl(0, 20%, 98%);
}

.navbar {
  background-color: var(--white-2);
  padding: 2rem 10%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
  position: relative;
  z-index: 1000;
}

.logo {
  width: 80px;
  height: 80px;
}

.contact-info {
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.contact-info a {
  font-size: 1.5rem;
  color: #222;
  transition: var(--transition-2);
  -webkit-transition: var(--transition-2);
  -moz-transition: var(--transition-2);
  -ms-transition: var(--transition-2);
  -o-transition: var(--transition-2);
  font-family: var(--ff-libre);
  font-weight: var(--fw-200);
}

.contact-info i {
  padding-right: 0.5rem;
  color: var(--primary-color);
}

.social {
  display: flex;
  gap: 7px;
}

.social > i {
  font-size: 1.2rem;
}

.social a:hover {
  background-color: #fff;
}

.social a i {
  font-size: 2rem;
}


.navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  box-shadow: var(--shadow-2);
  background-color: #f3f0f0;
}

.links {
  display: flex;
}

.links a {
  color: #222;
  margin-left: 2rem;
  font-size: var(--fs-4);
  text-transform: uppercase;
  transition: 0.25 ease-out;
  font-family: var(--ff-libre);
  font-weight: var(--fw-600);
  -webkit-transition: 0.25 ease-out;
  -moz-transition: 0.25 ease-out;
  -ms-transition: 0.25 ease-out;
  -o-transition: 0.25 ease-out;
  font-size: 1.5rem;
}


#menu-btn {
  font-size: 3rem;
  cursor: pointer;
  color: #222;
  display: none;
}



/* hero */

.hero {
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  /* padding: 11.5rem 2rem 8rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero__content,
.hero__image {
  flex: 1 1 42rem;
}

.hero__title {
  font-size: 5rem;
  text-transform: uppercase;
  margin-block-end: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.hero__title-primary {
  color: var(--primary-color);
}

.hero__description {
  font-size: 2rem;
  margin-block-end: 1em;
  line-height: 1.6;
  
}


.hero__buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hero_button {
  color: var(--hsl-color);
}

.hero__buttons i {
  margin-right: 0.5rem;
}

/* testimonial */


.testimonials {
     display: grid;
     gap: 2rem;
     grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
     text-align: center;
}

.testimonials__card {
  flex: 1 1 42rem;
}

.testimonials__image > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-block-end: 2rem;
  margin: 0 auto;
  
}

.testimonials__card--content {
  margin-block: 2rem;
}

.testimonials__card-title {
  margin-block-start: 2rem;
  color: var(--primary-color);
  font-style: italic;
  font-weight: 200;
}

section-heading h2 {
  font-size: var(--fs-500);
  text-transform: uppercase;
}


.section-heading p {
  font-size: var(--fs-600);
  color: var(--black);
  font-weight: var(--fs-700);
  font-family: var(--ff-100);
  margin-block: 15px;
}

.about-top h2 {
  font-size: var(--fs-400);
  text-transform: uppercase;
  margin-block-end: 20px;
}

.value-top .btn {
  margin-block-end: 20px;
}

/* values */


.section-heading > h3 {
  font-size: clamp(5rem, 2.5vw, 3rem);
  text-transform: uppercase;
  text-align: center;
  margin-block: 2rem;
}

.card-values {
  padding: 20px;
  border: 1px solid #fff;
  padding: 40px 30px;
  transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  -moz-transition: var(--transition-1);
  -ms-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  height: 250px;
}

.card-values h3 {
  color: #fff;
  font-size: 2.5rem;
}

.card-values:is(:hover, :focus) {
  transform: translateY(-10px) scale(1.05);
  -webkit-transform: translateY(-10px) scale(1.05);
  -moz-transform: translateY(-10px) scale(1.05);
  -ms-transform: translateY(-10px) scale(1.05);
  -o-transform: translateY(-10px) scale(1.05);
}

.card-values figure {
  max-width: max-content;
  margin-inline:auto;
  margin-block-end: 20px;
  border: 2px solid var(--clr-white-100);
  padding: 10px;
  border-radius:50%;
  
}

.value-text {
  font-size: var(--fs-500);
  color:var(--clr-neutral-500);
}

.card-values { text-align: center;}

.values-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-transform: capitalize;
}






/* about us */

.banner-all {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
   
  background-image: url('/images/banner-all.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #111;
  

}



.banner-text {
  text-transform: uppercase;
  color: #111;
  font-size: calc(4vw + 4vh + 2vmin);
}

.about-us {
  background-color: #f5e7e7;
  color: #111;
}

.about-us .box-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-us .box-container .box {
  flex: 1 1 42rem;
}

.about-us-para {
  margin-block-end: 1.3rem;
}

.about-us-title {
  color: var(--primary-color);
  text-transform: uppercase;
  margin-block-end: 1.3rem;
}


.info p:not(:last-child) {margin-block-end: 2px;}

.slide-icon ion-icon {
  color:var(--red-2);
} */

/* counter */

.counter {
  background-color: #f2f2f2;
  color:#111
 }

.counter .grid-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
 }

.span-1 {
  display: block;
  margin-block-end: 2rem;
  font-size:clamp(3rem, 2.5vw, 2rem);
  color: gray;
  font-style: italic;
}

.counters {
  font-size:clamp(7rem, 2.5vw, 4rem);
  color: var(--primary-color);
}

.counter ion-icon {
  margin-inline: auto;
  font-size:clamp(7rem, 2.5vw, 5rem);
}





.para-list li,
.listt {
  display: flex;
  gap: 1rem;
  margin-block-end: 1rem;
  
}

.para-list li i,
.listt  i {
  color: var(--primary-color);
  font-size: 3rem;
}


.about {
  background-color: #fff;
}

.about .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .box-container .content,
.about .box-container .about-banner {
  flex: 1 1 42rem;
}



.about .box-container .content h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #111;
  margin-block-end: 20px;
}

.about .box-container .content p {
  margin-block-end: 20px;
  font-size: 1.7rem;
  line-height: 3.5rem;
  margin-block-end: 30px;
  color: gray;
}

.about .box-container .content p > span {
  color: teal;
  font-weight: var(--fw-600);
}

.about .box-container .btn-secondary {
  margin-block-start: 20px;
}

/* special */

.special {
  background-color: gray;
}

.special .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.special .box-container .content,
.special .box-container .special-banner {
  flex: 1 1 42rem;
}

.special .content h3 {
  text-transform: uppercase;
  margin-block-end: 1.5rem;
}

.special .content ul > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 20px;
}

.special .content ul li > ion-icon {
  border: 1px solid var(--white-1);
  padding: 5px;
  background-color: teal;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: var(--fs-4);
  color: var(--white-1);
}

.special .content p {
  font-size: var(--fs-4);
  font-family: var(--ff-libre);
  color: #222;
  font-weight: bold;
}

.start {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  min-height: 40vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.start h2 {
  font-family: var(--ff-libre);
  text-transform: uppercase;
  font-size: var(--fs-1);
  margin-block-end: 15px;
  color: var(--white-1);
}

.start p {
  font-size: var(--fs-3);
  margin-block-end: 15px;
  max-width: 700px;
  margin-inline: auto;
  line-height: 1.6;
  color: var(--white-1);
  font-family: var(--ff-cardo);
}

.start .box-container h3 {
  margin-block-end: 10px;
  font-size: var(--fs-2);
  color: var(--white-1);
  text-transform: capitalize;
}

.start .box-container h4 {
  margin-block-end: 10px;
  font-size: var(--fs-3);
  color: var(--white-1);
}

.homes .box-container,
.how .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  text-align: center;
}

.homes h2 {
  font-size: 2rem;
  margin-block-end: 2rem;
  text-align: center;
}
.how h2 {
  text-align: center;
  font-size: var(--fs-2);
  color: var(--primary-color);
  text-transform: uppercase;
  font-family: var(--ff-libre);
  margin-block-end: 30px;
}

.count{
  color: #111;
  margin-block-end: 15px;
  font-size: 4rem;
  
}



.homes .box-container .box {
  background-color: #ddd;
  padding: 20px 20px;
  transition: var(--transition-2);
}

.homes .box-container .box p {
  
  font-size: 1.5rem;
  color: #222;
  line-height: 2;
}

.how .box-container .box > div {
  margin-block-end: 20px;
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: var(--fs-2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.how .box-container .box h3 {
  font-size: var(--fs-2);
  font-family: var(--ff-libre);
  text-transform: uppercase;
  margin-block-end: 15px;
}

.how .box-container .box p {
  font-size: var(--fs-3);
  font-family: var(--ff-cardo);
}

.how .box-container .box {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 20px;
  transition: var(--transition-2);
  -webkit-transition: var(--transition-2);
  -moz-transition: var(--transition-2);
  -ms-transition: var(--transition-2);
  -o-transition: var(--transition-2);
}

.how .box-container .box:is(:hover, :focus),
.homes .box-container .box:is(:hover, :focus) {
  opacity: 0.7;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}


/* Features */

.features {
  /* background: var(--tertiary-color); */
  background-color: hsl(238, 51%, 14%);

}

.features__container {
  text-align: center;
}

.features__title {
  text-transform: uppercase;
  padding-block: 1rem;
  font-size: 2.5rem;
}

.features__description {
  max-width: 600px;
  margin: 0 auto;
}

.features__grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);  */
 grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); /* grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr)); */
  gap: 2rem;
  padding-block: 3rem;
}

.features__grid-column {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

.features__grid-item {
  display: flex;
  /* align-items: start; */
  /* justify-content: start; */
  gap: 1rem;
}

.features__grid-item-text-title {
  font-size: 2rem;
  font-weight: 600;
  margin-block-end: 1rem;
  color: #fff;
}

.features__grid-item-icon {
  margin-block-start: 2rem;
}

.features__grid-item-icon i {
  color: var(--primary-color);
}

.features__grid-column-right .features__grid-item {
  flex-direction: row-reverse;
  text-align: left;
}

.features__grid-item-text-description {
  color: var(--light-gray);
  font-size: 1.5rem;
}

.details,
.details-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #fff;
}

.details__grid-image,
.details__grid-content{
  flex: 1 1 42rem;
}

.details__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.details__grid-content {
  max-width: 500px;
  width: 100%;
}

.details__grid-heading {
  font-size: 2rem;
  margin-block-end: 1.5rem;
  line-height: 1.2;
  color: hsl(238, 51%, 14%);
}

.details__grid-description {
  font-size: 1.5rem;
  margin-block-end: 1.5rem;
  line-height: 1.6;
  color: #111;
}

.icons {
  background-color: #fff;
}

.details_icons {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 6rem;
  gap: 2rem;
  justify-content: space-around;
  text-align: center;
}

.details_icons i {
  color: var(--primary-color);
  margin-block-end: 1rem;
}

.details__icons-amount {
  font-size: 3rem;
  font-weight: 600;
   color: #222;
}

.details_icons-titlle {
  font-size: 1.2rem;
  color: gray;
  font-style: italic;
  font-weight: bold;
}

.screenshots {
  background: #010101;
  text-align: center;
}

.screenshots__container {
  max-width: 1200px;
}

.screenshots__title {
  font-size: 2.3rem;
  text-transform: uppercase;
  border-block-end: 2px solid var(--primary-color);
  width: 300px;
  margin: 0 auto 2rem;
}

.screenshot__image {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.screenshot__image img {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.thoma-span {
  color: var(--primary-color);
}

/* download */
.download {
  background: #000 url("../images/download-background.jpg") center center/cover
    no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.download_content,
.download_image {
  flex: 1 1 42rem;
}


.download__content {
  max-width: 500px;
}

.download-description {
  font-size: 2rem;
  margin-block-end: 1.5rem;
  line-height: 1.6;
 
}

.download__img img {
  max-width: 500px;
  width: 100%;
}

.download__buttons {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1.5rem;
}

.download__button {
  padding: 1rem 2rem;
}

.download__button i {
  margin-right: 0.5rem;
}

/* choose */

.choose {
  background-color: #f1f1f1;
}
.choose .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.choose .box-container .content,
.choose .box-container .choose-banner {
  flex: 1 1 42rem;
}

.choose-para {
  margin-block-end: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.choose .box-container .content ul > li {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block-end: 19px;
  color:#222;
}

.choose .box-container .content ul li > ion-icon {
  font-size: var(--fs-2);
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  color: var(--white-1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 2rem;
}

.choose .box-container .content ul li > p {
  font-size: var(--fs-4);
  font-family: var(--ff-libre);
}

/* checklist */

.checklist {
  background-color: #ddd;
}

.checklist-para {
  text-align: center;
  font-family: var(--ff-libre);
  color: var(--primary-color);
  margin-block-end: 30px;
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
}

.checklist .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 3rem;
}

.checklist .box-container .box {
  padding: 0 20px;
}

.checklist-title {
  font-family: var(--ff-libre);
  margin-block-end: 20px;
  font-size: var(--fs-3);
  text-transform: uppercase;
  color: teal;
  font-weight: bold;
}

.checklist .box-container .box ul > li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block-end: 15px;
  color: var(--primary-color);
}

.checklist .box-container .box ul p {
  font-size: var(--fs-3);
  padding: 20px;
  background-color: var(--primary-color);
  color: #fff;
}

/* contact */


/* emergency */

.emergency {
  min-height: 40vh;
  display: grid;
  place-items: center;
  text-align: center;
  }

  .emergencies {
    display:flex;
    gap: 2rem;
  }

  .emergencies > a > i  {
    color: var(--primary-color);
    margin-right: 1rem;
    font-size: 2rem;
  }

.emergency .content {
  text-align: center;
  font-size: clamp(6rem, 2.5vw, 2rem);
  margin-block:2rem;
}

.contact {
  background-color: #f1f1f1
}

.contact .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.contact .form,
.contact-content {
  flex: 1 1 42rem;
}

.form-title {
  text-align: center;
  color: #fff;
  font-size: clamp(5rem, 2.5vw, 1.5rem);
  margin-block: 40px;
   color: #123;
   text-transform: uppercase;
}

.form {
  border: 0.1rem solid #500101;
  padding: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form input,
.form textarea {
  /* border: 0.1rem solid var(--primary-color); */
  width: 100%;
  margin-block-end: 20px;
  padding-inline-start: 10px;
  padding-block: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  font-size: 2rem;
}

.file {
  color: teal;
  font-size: 2rem;
  font-weight: bold;
}

.form .btn {
  min-width: 100%;
  text-transform: uppercase;
 
}

.heading-contact {
  font-size: 2rem;
  text-transform: uppercase;
  color: #123;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black);
}

.contact-list-item > a > i {
  color:var(--primary-color);
  margin-block: 1rem;
}

.contact-list-item:not(:last-child) {
  margin-block-end: 10px;
}

.contact-link {
  font-size: 2.5rem;
  color: #123;
  }

.form input::placeholder,
.form textarea::placeholder {
  font-size: var(--fs-900);
  text-transform: capitalize;
  color: hsl(210, 50%, 13%);
  font-size: 2rem;
}

.form input:focus,
.form textarea:focus {
  border: 1.5px solid var(--clr-primary-300);
}

.span {
  font-weight: lighter;
  color: #123;
  font-size: 3rem;
}
/* map */

.maps {
  width: 100%;
}


/* footer */

.footer {
  background-color: #212121;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 1rem 0;
  color: #fff;
  
}

.footer .box-container .box .link {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-gray);
  font-family: var(--ff-libre);
  font-weight: var(--fw-500);
  text-transform: capitalize;
}

.footer .box-container .box .link i {
  padding-right: 0.5rem;
  color: var(--primary-color);
}

.footer .box-container .box .link:hover {
  color: var(--primary-color);
}

.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}

.footer .box-container .box p {
  padding: 0.5rem 0;
  font-size: var(--fs-4);
  line-height: 2;
  color:var(--light-gray);
  font-family: var(--ff-cardo);
  font-weight: var(--fw-500);
}

.footer .box-container .box p span {
  color: var(--primary-color);
  font-family: var(--ff-libre);
  font-weight: var(--fw-800);
}

.footer .box-container .box .share {
  margin-top: 2rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: var(--primary-color);
  color: #fff;
  margin-right: 0.3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: var(--primary-color);
}


.credit {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--black);
  margin-block: .5rem;
  border-top: 0.1rem solid var(--primary-color);
  text-align: center;
  font-weight: 100;
}

.credit span {
  color: var(--primary-color);
}

.inner-header {
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  padding: 10rem 2rem 6rem;
}

/* pricing */

.pricing {
  background: var(--tertiary-color);
  padding: 4rem 2rem 6rem;
}

.pricing__title {
  font-size: 2.3rem;
  margin-block-end: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.pricing__cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.pricing__box {
  background: hsla(0, 0%, 100%, 0.1);
  padding: 2.5rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-block-end: 2rem;
}


.pricing__card-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-block-end: 1rem;
}

.pricing__card-price {
  color: var(--primary-color);
  margin-block-end: 1rem;
  font-weight: 700;
  font-size: 2.5rem;
}

.pricing__card-list {
  text-align: left;
  line-height: 2.5;
  font-weight: 300;
};

.pricing__card-item i {
  color: var(--primary-color);
  margin-right: 0.5rem;
}

/* pricing note */


.pricing--notes {
  padding: 3rem 2rem;
  color: hsl(249, 11%, 65%);
}

/* details feature */

.details-features {
  background: var(--tertiary-color);
  padding: 4rem 2rem;
}

.details-features__title {
  text-align: center;
  text-transform: uppercase;
  margin-block-end: 1rem;
  font-size: 2.3rem;
}

.details-features__list-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block-end: 3rem;
  background: hsla(0, 0%, 100%, 0.1);
  padding: 1.5rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.details-features__list-item i {
  color: var(--primary-color);
}

.details-features__list-title {
  margin-block-end:.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

/* services */



.services {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  /* margin-block-start: 10rem; */
  
  background-color: #fff;
  color: #123;
}


.services .content ,
.services .services-banner{
  flex: 1 1 35rem;
  padding: 2rem 1rem;
}

.btn-1 {
  margin-block-start: 1rem;
  display: inline-block;
}

.btn-secondary {
  margin-block-start: 1rem;
  display: block;
  text-align: center;
}

/* serve */

.serve .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.section-subtitle {
  text-align: center;
  font-size: clamp(4rem, 2.5vw, 1.5rem);
  text-transform: uppercase;
  margin-block-end: 2rem;
}


.serve-card {
    transition: var(--transition-3);
    -webkit-transition: var(--transition-3);
    -moz-transition: var(--transition-3);
    -ms-transition: var(--transition-3);
    -o-transition: var(--transition-3);
    height: 100%;
    position: relative;
  }

.serve-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.7;
  transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  -moz-transition: var(--transition-1);
  -ms-transition: var(--transition-1);
  -o-transition: var(--transition-1);
}

.serve-card:is(:hover, :focus-within) {
  opacity: 0.8;
}

.serve-card .card-content {
   padding-block: 10px;
   color: var(--black);
   font-family: var(--ff-200);
}

.serve-card .card-content {
  position: absolute;
  inset: 0;
  padding: 20px;
  z-index: 1;
  transition: var(--transition-2);
  -webkit-transition: var(--transition-2);
  -moz-transition: var(--transition-2);
  -ms-transition: var(--transition-2);
  -o-transition: var(--transition-2);
}

.serve-card:is(:hover, :focus-within) .card-content {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.serve-card .card-content .card-title {
  color: #fff;
}




.banner-alls {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
   
  background-image: url('/images/banner-alls.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #111;
  

}

/* faq */



.testi-section-heading {
  border-top: 1px solid teal;
  padding-block: 40px;
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
}

.accordion-heading {
  color: #111;
}



.testimonial .accordion-container .accordion {
  margin: 1rem 0;
  background-color: var(--white);
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  transition: var(--transition-200);
  -webkit-transition: var(--transition-200);
  -moz-transition: var(--transition-200);
  -ms-transition: var(--transition-200);
  -o-transition: var(--transition-200);
}

.testimonial
  .accordion-container
  .accordion.active
  .accordion-heading
  i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  color: var(--primary-color);
}

.testimonial .accordion-container .accordion.active .accordion-content {
  display: block;
  
}

.testimonial .accordion-container .accordion-heading {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}

.testimonial .accordion-container .accordion-heading h3 {
  font-size: var(--fs-300);
  font-family: var(--ff-100);
  color: var(--clr-neutral-100);
}

.testimonial .accordion-container .accordion-heading i {
  font-size: var(--fs-300);
  transition: var(--transition-200);
  -webkit-transition: var(--transition-200);
  -moz-transition: var(--transition-200);
  -ms-transition: var(--transition-200);
  -o-transition: var(--transition-200);
  color: teal;
}

.testimonial .accordion-content {
  padding: 1rem;
  line-height: 1.7;
  display: none;
}

.testimonial .accordion-content p {
  font-size: 1.5rem;
  font-family: var(--ff-100);
  color: black;
}

/* reviews */

.reviews {
  background-color: teal;
}

.reviews h2 {
  font-family: var(--ff-libre);
  font-size: var(--fs-1);
  text-transform: uppercase;
  text-align: center;
  margin-block-end: 30px;
}

.user {
  padding: 10px 20px;
}

.user h3 {
  text-transform: capitalize;
  font-size: var(--fs-3);
}

.reviews .swiper-slide {
  border-radius: 0.5rem;
  background: #fff;
  /* border: 2px solid rgba(0, 0, 0, 0.3); */

  height: 100%;
  text-align: center;
  transition: var(--transition-100);
  -webkit-transition: var(--transition-100);
  -moz-transition: var(--transition-100);
  -ms-transition: var(--transition-100);
  -o-transition: var(--transition-100);
}

.reviews .swiper-slide:hover {
  transform: translateY(-5px) scale(1.02);
  -moz-transform: translateY(-5px) scale(1.02);
  -ms-transform: translateY(-5px) scale(1.02);
  -o-transform: translateY(-5px) scale(1.02);
  -webkit-transform: translateY(-5px) scale(1.02);
  border: none;
}

.reviews .swiper-slide p {
  font-size: 2rem;
  color: #111;
  margin-block-end: 20px;
}

.reviews .swiper-slide .user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.reviews .swiper-slide .user img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.reviews .swiper-slide .user h3 {
  color: var(--clr-neutral-500);
}

.reviews .swiper-slide .user span {
  font-size: var(--fs-700);
  color: teal;
  font-size: var(--fs-4);
  font-style: italic;
}

.stars {
  display: flex;
  gap: 5px;
  font-size: var(--fs-4);
  color: hsl(51, 91%, 38%);
}




/* chevron */
.go-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--white-1);
  border-radius: 100%;
  transition: var(--transition);
  /*opacity: 0;
  visibility: hidden;
  */z-index: 2;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.go-top.active {
  opacity: 1;
  visibility: visible;
}

.go-top:is(:hover, :focus) {
  color: var(--hsl-color);
}

/* media queries */

/* footer */

 .testimonials__container {
    grid-template-columns: 1fr;
  }

  

  .details-features__list-item {
     flex-direction: column;
     text-align: center;
  }
  .footer .container {
    grid-template-columns: 1fr;
  }




/* media query */

@media (max-width: 1200px) {
  .contact-info {
    padding: 2rem 5%;
  }

  .navbar {
    padding: 2rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  .contact-info,
  .navbar {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .contact-info {
    display: none;
  }

  #menu-btn {
    display: block;
  }

  #menu-btn .fa-times {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid red;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    color: #111;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
  }

  .header .navbar .links.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .links {
    flex-direction: column;
  }

  .links > li > a {
    margin-block: 15px;
    display: block;
  }

  .links li:not(:last-child) {
    border-bottom: 1px solid var(--primary-color);
  }

  .links a:hover {
    text-decoration: none;
    color: var(--primary-color);
  }

  .health {
    order: -1;
  }
  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid red;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    color: #111;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
  }

  .header .navbar .links.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .hero-title {
    font-size: var(--fs-4);
  }
}
